# Django
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=yuour_host

# Database
POSTGRES_DB=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=your_host
POSTGRES_DB_PORT=your_port

# OpenAI
OPENAI_API_KEY=your_api_key
OPENAI_DEFAULT_MODEL=your_default_model